body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    height: fit-content;
    width: fit-content;
    text-align: center;
    background: #fff;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    height: fit-content;
    width: fit-content;
    text-align: center;
    background: #fff;
    padding: 50vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, textarea, select {
    margin: 10px 0;
    width: 100%;
}

input, textarea, select {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background: #bf0606;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #e15c5c;
}
